<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="GatewayConfig" type="NServiceBus.Config.GatewayConfig, NServiceBus.Gateway" />
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
  </configSections>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
  <AuditConfig QueueName="audit" />
  <GatewayConfig>
    <Sites>
      <Site Key="SiteA" Address="http://localhost:25899/SiteA/" ChannelType="Http" />
      <Site Key="SiteB" Address="http://localhost:25899/SiteB/" ChannelType="Http" LegacyMode="false" />
    </Sites>
    <Channels>
      <Channel Address="http://localhost:25899/Headquarter/" ChannelType="Http" />
      <Channel Address="http://localhost:25899/Headquarter2/" ChannelType="Http" Default="true" />
    </Channels>
  </GatewayConfig>
  <UnicastBusConfig>
    <MessageEndpointMappings />
  </UnicastBusConfig>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>